[Unit]
Description=File Browser
After=network.target

[Service]
Type=exec
WorkingDirectory=/home/banta/rootless/filebrowser
ExecStart=/usr/bin/podman-compose up
ExecStop=/usr/bin/podman-compose down
Restart=on-failure
TimeoutStartSec=30s
TimeoutStopSec=60s

[Install]
WantedBy=default.target
WantedBy=shutdown.target
