[Unit]
Description=FRPS to naradha
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/path/to/frps/bin/
ExecStart=/path/to/frps/bin/ -c /path/to/frps/frps.json
Restart=always

[Install]
WantedBy=multi-user.target

