[Unit]
Description=FRPC
After=network.target

[Service]
Type=simple
User=banta
WorkingDirectory=/path/to/frp/bin
ExecStart=/path/to/frp/bin/frpc -c /path/to/frp/bin/frpc.json
Restart=always

[Install]
WantedBy=multi-user.target

