[Unit]
Description=NextCloud
After=network.target

[Service]
Type=exec
WorkingDirectory=/path/to/podman-compose/dir
ExecStart=/usr/bin/podman-compose start
ExecStop=/usr/bin/podman-compose stop
Restart=always
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=default.target

